<%-include('partial/header') %>
 <form action="/" method="post">
  <h1>Employee Name:<%= employee %></h1>
  <h1>Employee Id:<%= id%></h1>
  <h1> Employee Age:<%= age %></h1>
</form> 


<%-include('partial/footer') %>